<!DOCTYPE html>
<html>
  <head>
  
 <!-- Metraial Ui  -->
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <!-- icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
    body{
      background-color:#d1c4e9;
    }
    .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
  </style>
  <body>
<header>
  
  <% include navbar.ejs %>
        
</header>
<!-- <p class="center-align">Welcome to <%= title %></p> -->
    <h1 class="center-align">Welcome to <%= title %></h1>
    
    <% if(message){ %>
      <h1 class="center-align  "><span class="red lighten-1">Error  <%= message %></span></h1>
      
      <% }%>
     
        <form class="center" method="POST" action="/login">
        
            
              <div class="row">
                <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="username" type="text" class="validate">
                  <label for="icon_prefix">User Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s9">
                  <i class="material-icons prefix">enhanced_encryption</i>
                <input id="icon_telephone" name="password" type="password" class="validate">
                <label for="icon_telephone">Password</label>
                </div>
              </div>
              <button class="center-align btn waves-effect waves-light" type="submit" name="action">Login
                <i class="material-icons right">send</i>
              </button>
              <h3><a href="/register">Register</a></h3>
              
           
           
         
        </form>

      </div>

     

    

  </body>
</html>
