<!DOCTYPE html>
<html>
  <head>
  
 <!-- Metraial Ui  -->
 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <!-- icon -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <style>
    body{
      background-color:#d1c4e9;
    }
    .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
  </style>
  <body>
<header>
  
  <% include navbar.ejs %>
        
</header>

    <h1 class="center-align">Welcome to register</h1>
    <h1 class="center-align" id="ERROR"></h1>
      
        <form class="center" id="formID" method="POST" action="/register">
        
           
              <div class="row">
                <div class="input-field col s9">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="userName" type="text" class="validate">
                  <label for="icon_prefix">User Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s9">
                  <i class="material-icons prefix">enhanced_encryption</i>
                <input id="icon_telephone" name="password" type="password" class="validate">
                <label for="icon_telephone">Password</label>
                </div>
              </div>
              <button class="center-align btn waves-effect waves-light" type="submit" name="action">Register
                <i class="material-icons right">send</i>
              </button>
              <h3><a href="/login">login</a></h3>
              
        
           
          </div>
        </form>
        
      </div>
      <script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script>
    $(function(){
    $('#formID').submit(function(e){
        e.preventDefault();
  
        $.ajax({
            type:"POST",
            url:"http://localhost:3000/register",
            data: $(this).serialize(),
            success:function(response){
            
              if(response.status==false){
                  let html=`<span  class="red lighten-1" id="ERROR">Error ${response.message}</span>`
                  document.getElementById("ERROR").innerHTML=html
              }else{
                  let html=`<span  class="green accent-3" id="ERROR">${response.message}</span>`
                  document.getElementById("ERROR").innerHTML=html
              }
             }
            })
    });

});

</script>
     

    

  </body>
</html>









